footer {
    background-color: rgb(255, 255, 255) !important;
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 0rem!important;

}
h2{
    color: white!important;
    margin-bottom: 0rem!important;
}

.margen-izquierdo {
    margin-left: 2rem!important;
}

hr {
    color: white!important;
    margin: 0!important;
    margin-bottom: 0.4rem !important;
}

.article-text {
    color: white!important;
}

.justificado {
    text-align: justify!important;
    margin: 0!important;
}

#logocontacto {
    position: fixed;
    z-index: 10;
    overflow: hidden; 
    display: block;
    right: 10px;
    bottom: 5px;
  }

  #logo_mail {
    position: fixed;
    z-index: 10;
    overflow: hidden; 
    display: block;
    right: 10px;
    bottom: 50px;
  }

  .anim_rotar {
    animation: rotation 3s ease-in-out infinite;  
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}